@import '../mixins';
.navigation{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 100px;
    background: #fff;
}
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 58px;
    height: 100px;
}
.navmain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__menu{
        display: flex;
        gap: 32px;
        &--link{
            font: {
                family: $main-font;
                weight: 700;
                size: 15px;
            }
            line-height: 25px;
            color:  $main-color;
            &:hover{
                color: $second-color;
            }
        }
    }
    &__btn{
        @include btn;
    }
}
@media screen and (max-width:768px) {
    .navmain__menu{
        margin-right: 10px;
    }
}
@media screen and (max-width:576px) {
    .navigation{
        height: 64px;
    }
    .nav{
        height: 64px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .navmain{
        display: none;
    }
}
.hero{
    width: 100%;
    height: 650px;
    &::before{
        position: absolute;
        content: '';
        width: 200px;
        height: 9px;
        background: $second-color;
        left: 0px;
        top: 453px;
    }
    background: {
        image: url(../../images/Bitmap.jpg);
        position: center;
        repeat:no-repeat;
        size: cover;
    }
    .heromain{
        padding-top: 153px;
        width: 100%;
        &__title{
            max-width: 500px;
            width: 100%;
            font: {
                family: $main-font;
                weight: 700;
                size: 56px;
            }
            line-height: 56px;
            color: #fff;
            letter-spacing: 2.5px;
        }
        &__tb{
            position: relative;
            display: flex;
            flex-direction: column;
            margin-left: 95px;
            margin-top: 40px;
            &--text{
                max-width: 400px;
                width: 100%;
                font: {
                    family: $second-font;
                    weight: 400;
                    size: 15px;
                }
                line-height: 25px;
                color: #fff;
            }
            &--btn{
                margin-top: 40px;
                @include btn;
            }
            &--img{
                position: absolute;
                width: 446px;
                transform: rotateY(180deg);
                right: 0;
                top: 47px;
            }
        }
    }
}
@media screen and (max-width:768px) {
    .hero{
        background-image: url(../../images/Bitmap-tablet.jpg);
        &::before{
            display: none;
        }
        .heromain{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 137px;
            &__title{
                max-width: 573px;
                width: 100%;
                text-align: center;
                font: {
                    family: $main-font;
                    weight: 700;
                    size: 56px;
                }
                line-height: 56px;
                color: #fff;
            }
            &__tb{
                margin-left: 0;
                margin-top: 24px;
                align-items: center;
                &--text{
                    max-width: 573px;
                    width: 100%;
                    padding: 0 5px;
                    text-align: center;
                    font: {
                        family: $second-font;
                        weight: 400;
                        size: 15px;
                    }
                    line-height: 25px;
                    color: #fff;
                }
                &--btn{
                    margin-top: 32px;
                    @include btn;
                }
                &--img{
                    left: -240px;
                    top: 200px;
                }
            }
        } 
    }
}
@media screen and (max-width:576px) {
    .hero{
        background-image: url(../../images/Bitmap-phone.jpg);
        .heromain{
            padding-top: 79px;
            &__title{
                max-width: 373px;
                width: 100%;
                text-align: center;
                font: {
                    family: $main-font;
                    weight: 700;
                    size: 40px;
                }
                line-height: 40px;
                color: #fff;
            }
            &__tb{
                &--text{
                    max-width: 373px;
                    width: 100%;
                }
                &--btn{
                    margin-top: 34px;
                    @include btn;
                }
                &--img{
                    left: -400px;
                }
            }
        } 
    }
}